.html{
    font-family: 'Inter', sans-serif;
    background-color: blue;
}
.testimony-remarks{
    color: green;
    font-size: 33px;
}

.attribution { 
    font-size: 11px; text-align: center 
}
.attribution a { 
    color: hsl(228, 45%, 44%) 
}